<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        P {
            line-height: 130%;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>

<table align="center" colspan="1" width="800px" cellspacing="3" cellpadding="1" border="0">
    <tr>
        <td align="right"><a href="/" style="font-size: 16px;font-family: Arial, Helvetica, sans-serif;"><img src="static/return.png" width="50px" style="vertical-align: middle">Return</a></td>
    </tr>
    <tr>
        <td align="center"><img src="static/CF1.png" width="300" margin-bottom="0"></td>
    </tr>
    <tr>
        <td>
            <p>Welcome to our website!<br><br>Our review-based CourseFinder website is users’ ultimate guide to discovering the perfect course to enhance their knowledge and skills! We understand that finding the right course can be overwhelming and time-consuming, which is why we have created this platform to make search easier and more efficient. Our website offers a user-friendly interface and a powerful search engine that allows users to filter your search results based on your preferences. In particular, our database based on course reviews caters to users’ more personal search needs. For example, you can type in 'data science, fun' to get data-science-related courses that most course reviewers found interesting, but if you type in 'data science, hard', the results would be quite different. This function provides more playability and freedom for our website, which is also our innovation.
            <br><br>
            The website hosts a vast collection of courses from Coursera website, which is an online learning platform that offers a wide range of courses and programs from top universities and educational institutions around the world. Our courses also cover a wide range of disciplines, from business and management to technology, arts, and sciences. Whether you're a student looking to pursue higher education or a professional seeking to develop your expertise, our website provides a comprehensive range of courses to cater to your needs.</p>
        </td>
    </tr>
</table>

</body>
</html>
